:root{
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    
    --brown-800: hsl(14, 45%, 36%);
    
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);

    --paragraph-font-size: 16px;
    
    --primary-font: "Young Serif";
    --secondary-font: Outfit;
    --recipe-card-padding: 26px;
}



*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: var(--stone-100);
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;

}

h1,h2{
    font-family: var(--primary-font);
}

h2{
    color: var(--brown-800);
    font-weight: 400;
}

hr{
    margin: 24px 0;
    border: none;
    height: 1px;
    background-color: var(--stone-150);
}

.recipe-card{
    background-color: hsl(0, 0%, 100%);

    width: 500px;
    padding: var(--recipe-card-padding);

    border-radius: 16px;
}

.recipe-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 320px;

    margin-bottom: 20px;
}

.recipe-header img{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}

.recipe-header h1{
    color: var(--stone-900);
    font-size: 27px;
    font-weight: 400;
}

.recipe-header .recipe-description{
    font-family: var(--secondary-font);
    font-size: 11px;
    color: var(--stone-900);
}

.prep-time{
    background-color: var(--rose-50);
    padding: 16px;
    border-radius: 8px;

    margin-bottom: 20px;
}

.prep-time-title{
    font-size: 14px;
    font-family: var(--secondary-font);
    color: var(--rose-800);
    font-weight: 600;
}

.prep-time .prep-list{
    list-style: none;

}

.prep-list li::before {
  content: "•";          

  position: relative;
  left: 0;
  top: 2px;

  color: var(--rose-800);            
  font-size: 16px;        

  margin-right: 18px;
}

.prep-list li{
    color: var(--stone-600);
    font-family: var(--secondary-font);
    font-size: 11px;
    text-indent: 6px;
}

.ingredients-list{
    list-style: none;
    text-indent: 6px;

    font-size: 11px;
    font-family: var(--secondary-font);
    color: var(--stone-600);
    line-height: 24px;
}

.ingredients-list li::before{
   
    content: "•";          
    color: var(--rose-800);
    font-size: 13px;        

    margin-right: 18px;

}

.instructions-list{
    list-style: none;

    counter-reset: numbers;

    font-family: var(--secondary-font);
    color: var(--stone-600);
}

.instructions-list li{
    counter-increment: numbers;
    display: grid;
    grid-template-columns: 3ch 1fr;
    align-items: start;
    gap: 6px;
    
    line-height: 16px;
    
    margin-bottom: 8px;
    
    font-size: 11px;
}

.instructions-list li::before{
    content: counter(numbers)".";
    font-variant-numeric: tabular-nums;

    margin-left: 6px;
    padding-top: 1px;
    
    font-size: 11px;
    font-weight: 600;

    color: var(--rose-800);    
}

.instructions-list p{
    line-height: 18px;
}

.section-title{
    font-size: 19px;
    margin-bottom: 12px;
}

.nutrition-description{
    font-family: var(--secondary-font);
    font-size: 11px;
    color: var(--stone-600);

    margin-bottom: 10px;
}

.nutrition{
    font-family: var(--secondary-font);
}

.nutrition-list{
    padding: 0 21px;
    position: relative;
}

.nutrition-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 0;
    gap: 10px;
}

.nutrition-item dt{
    font-size: 11px;
    color: var(--stone-600);
}

.nutrition-item dd{
    font-size: 11px;
    color: var(--brown-800);
    font-weight: 800;
}

.nutrition-list hr{
    width: 100%;
    margin: 0;
    border: none;
    height: 0.5px;

    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}

.nutrition-item:last-child{
    padding-bottom: 0;
}

@media (max-width: 515px) {
    body{
        padding: 0;
    }
    main{
        height: 100%;
        width: 100%;
    }

    .recipe-card{
        width: 100%;
        height: 100%;
        
        border-radius: 0;
    }

    .recipe-card .recipe-header{
        height: auto;
        display: block;
        margin-bottom: 40px;
    }

    .recipe-header .header-image-container{
        margin: calc(-1 * var(--recipe-card-padding));
        margin-bottom: 24px;
    }
    
    .recipe-header .header-image-container img{
        border-radius: 0;
    }

    .recipe-header .recipe-name{
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 28px;
    }
    
    .recipe-header .recipe-description{
        font-size: 16px;
        line-height: 23px;
        
    }

    .prep-time{
        padding: 34px;
    }

    .prep-time .prep-time-title{
        font-size: 18px;
        margin-bottom: 18px;
    }

    .prep-time .prep-list li{
        font-size: 16px;
        margin-bottom: 6px;

        text-indent: -24px;
        padding-left: 32px;
    }

    .section-title{
        font-size: 24px;
    }

    .ingredients .ingredients-list{
        font-size: var(--paragraph-font-size);
        text-indent: -24px;
        padding-left: 32px;
    }

    .ingredients-list li::before{
        font-size: var(--paragraph-font-size);
    }

    .instructions-list li::before{
        font-size: var(--paragraph-font-size);
    }

    .instructions .instruction-step{
        font-size: 16px;
    }

    .nutrition .nutrition-description{
        font-size: var(--paragraph-font-size);
    }

    .nutrition .nutrition-item dt, .nutrition .nutrition-item dd{
        font-size: var(--paragraph-font-size);
    }

}